/**
 * metaweather
 *
 * metaweather.com
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package one.beagile.metaweatherClient.apis

import one.beagile.metaweatherClient.models.Location
import one.beagile.metaweatherClient.models.ModelError

import one.beagile.metaweatherClient.infrastructure.*
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.client.features.json.serializer.KotlinxSerializer
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

class LocationRequestForTheDateApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    jsonSerializer: Json = ApiClient.JSON_DEFAULT
) : ApiClient(baseUrl, httpClientEngine, jsonSerializer) {

    /**
     * Retrieve location weather for the date
     * 
     * @param woeid Numeric ID of the location 
     * @param year  
     * @param month  
     * @param day  
     * @return kotlin.collections.List<Location>
     */
    @Suppress("UNCHECKED_CAST")
    suspend fun getLocationForDate(woeid: kotlin.Int, year: kotlin.Int, month: kotlin.Int, day: kotlin.Int): HttpResponse<kotlin.collections.List<Location>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/location/{woeid}/{year}/{month}/{day}".replace("{" + "woeid" + "}", "$woeid").replace("{" + "year" + "}", "$year").replace("{" + "month" + "}", "$month").replace("{" + "day" + "}", "$day"),
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetLocationForDateResponse>().map { value }
    }

    @Serializable
    private class GetLocationForDateResponse(val value: List<Location>) {
        @Serializer(GetLocationForDateResponse::class)
        companion object : KSerializer<GetLocationForDateResponse> {
            private val serializer: KSerializer<List<Location>> = serializer<List<Location>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: GetLocationForDateResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = GetLocationForDateResponse(serializer.deserialize(decoder))
        }
    }

}
