/**
 * metaweather
 *
 * metaweather.com
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package one.beagile.metaweatherClient.apis

import one.beagile.metaweatherClient.models.Location

import one.beagile.metaweatherClient.infrastructure.*
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.client.features.json.serializer.KotlinxSerializer
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

class WeatherSearchApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    jsonSerializer: Json = ApiClient.JSON_DEFAULT
) : ApiClient(baseUrl, httpClientEngine, jsonSerializer) {

    /**
     * Weather Search
     * 
     * @param query search query (optional)
     * @param lattlong Latitude longitude (optional)
     * @return kotlin.collections.List<Location>
     */
    @Suppress("UNCHECKED_CAST")
    suspend fun weatherSearch(query: kotlin.String?, lattlong: kotlin.collections.List<kotlin.Double>?): HttpResponse<kotlin.collections.List<Location>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        query?.apply { localVariableQuery["query"] = listOf("$query") }
        lattlong?.apply { localVariableQuery["lattlong"] = toMultiValue(this, "csv") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/location/search/",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<WeatherSearchResponse>().map { value }
    }

    @Serializable
    private class WeatherSearchResponse(val value: List<Location>) {
        @Serializer(WeatherSearchResponse::class)
        companion object : KSerializer<WeatherSearchResponse> {
            private val serializer: KSerializer<List<Location>> = serializer<List<Location>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: WeatherSearchResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = WeatherSearchResponse(serializer.deserialize(decoder))
        }
    }

}
